* { 
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,.head{
    margin-bottom: 2rem;
}
html{
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  background-image: url('assets/greenline.2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin: 0 auto;
  font-family: Merriweather, 'Times New Roman', serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* Fenti menük */
#big-box {
  background-image: url('assets/white.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 120px;
  width: 100%;
  list-style:none;
  text-align: center;
}
menu {
  list-style:none;
}
#big-box {
  font-weight: 500;  
  border-bottom:1px solid rgb(91, 169, 38);
}
.box {
  height: 100%;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  float: left;
}
#second-box{
  position: relative;
  right:-2px;
}
.box a {
color: rgb(91, 169, 38);
text-shadow: 1px 2px 1px rgb(17, 113, 8);
text-align: center;
line-height: 3;
text-decoration: none;
padding: 1.25rem 1.25rem;
margin: 0 auto;
font-size: 1.25rem;
}
#job{
  color: rgb(91, 169, 38);
text-shadow: 1px 2px 1px rgb(17, 113, 8);
text-align: center;
line-height: 3;
text-decoration: none;
padding:0 1.25rem;
margin: 0 auto;
font-size: 1.25rem;
}
#big-box a:hover{
	background:rgba(0,0,0,.5);
}
#job:hover{
  background:rgba(0,0,0,.5);
}
.has-submenu{
	position:relative;
}
.has-submenu>a{
	padding-right: 3.125rem;
}
#job{
  padding-right: 3.125rem;
}
.has-submenu:hover .submenu{
	display:block;
}
.submenu{
	position:absolute;
	width: 160px;
	display:none;
	padding-right: 4.625rem;
}
.has-submenu::after{
	content:"🢓";
	color:rgb(91, 169, 38);
	position:absolute;
	top:1.4375rem;
	right:1.4375rem;
}
.submenu a{
	background: #61706955;
	padding:0.625rem;
  line-height: 2.2;
}
.box::after {
  content: "";
  clear: both;
  display: table;
}
/* névjegy */
.profile-image:before {
  content: "";
  position: absolute;
  inset: 0px;
  padding: 0.625rem;
  border-radius: 50%; 
  background: conic-gradient(
        #53ffa0 ,
        #0000 30deg 120deg,
        #53ffa0 120deg,
        #dad8d800 210deg 300deg,
        #4ac225 330deg
    );
  -webkit-mask:
    linear-gradient(#000000fe 0 0) content-box,
    linear-gradient(#000000fe 0 0);
  -webkit-mask-composite: xor;
    mask-composite: intersect
}
.profile-image:after {
  content: "";
  position: absolute;
  background:
    radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
    radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000);
  filter: blur(120px);
  opacity: .5;
}

.profile-image:before,
.profile-image:after {
  transition:.5s, 99999s 99999s transform;
}
.profile-image:hover {
  box-shadow: 0 0 0 1px #666;
}

.profile-image:hover:before,
.profile-image:hover:after {
  transform: rotate(36000deg);
  transition: .5s,600s linear transform;
}
.profile-image:before {
  background-color: #222;
    border: 2px solid #333;
}

.profile-image {
  margin: auto;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
}
.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.head, .links {
  text-align: center;
}
.head, .content {
  width: 90%;
  margin: 0 auto;
}
#profile-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  opacity:0.9;
  position: relative;
}
.profile-image {
  margin-top: -5.625rem;
  width: 200px;
  height: 200px;
  font-size:1.875rem;
  color: #fff;
  background: none;
  border: none;
  border-radius: 50%; 
  position: relative;
  z-index: 0;
  transition: .3s;
  cursor: pointer;
  margin-bottom: 0.625rem;
}
.head, .about {
  margin-bottom: 10%;
}
.about{
  text-align: center;
}
.about p {
  font-size: 1.25rem;
}
.about h1 {
  font-size: 1.5625rem;
  margin-bottom: 0.625rem;
}
.content {
  padding: 10% 10%;
}
.profile {
  background-size: 50% 100%;
  height: 100%;
  width: 100%;
}
.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  margin: 0 auto;
}
#profile-image {
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}
#profile-image:hover {
  transform: scale(1.2);
  filter: grayscale(20%);
}
 /* Effect névjegyhez */
#effect {
  background: #090d00;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}
#effect {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double white;
  position: absolute;
  margin: 0 0 0 -12em;
}
#effect span {
  font: 500 2.5em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* wordCarousel effect */
#wordCarousel{
  max-width: calc(100vw - 10px);
}
.wordCarousel {
  font-size: 2.1875rem;
  font-weight: 100;
  color: black;
  position: relative;
  padding-top: 1.25rem;
}
.wordCarousel-2 {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;
}
.wordCarousel-2 li {
  font-family: 'Open Sans', sans-serif;
  color: green;
  font-weight: 700;
  height: 45px;
  margin-bottom: 2.8125rem;
  display: block;
  position: relative;
  font-size: 2.5rem;
  padding: 0.9375rem 0.625rem 0.625rem 0.4375rem;
}
.wordCarousel-3 {
  position: relative;
  font-size: 2.1875rem;
  font-weight: 100;
  color: black;
  padding-top: 1.25rem;
}
#wordCarousel {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#wordCarousel {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wordCarousel::after {
  content: "";
  display: block;
  position: absolute;
}
.flip3 {
  -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
@-webkit-keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
/* Pipás felsorolás */
.canvas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: calc(100vw - 10px);
  margin: 0 auto;
  max-height: 360px;
  margin-bottom: 1.25rem;
}
.canvas > div {
  display: block;
}
#smallsquare{
  background-color:rgba(255, 255, 255, 0.47);
  height: 100%;
  max-width: 400px;
  border: 0.5rem solid rgba(255,255,255,.7); 
  border-image: linear-gradient(#4e9f0cb3, #f9f8f55f) 30;
}
.altalanos1 {
  font-size: 2.5rem;
  font-weight: 200;
  color: rgb(12, 91, 6);
  position: relative;
  padding:1.25rem 0 1.25rem 0;
  font-family: Serif;
  font-weight: 100;
  text-align: center;
}
.altalanos2 {
  font-size: 2.5rem;
  font-weight: 200;
  color: black;
  position: relative;
  padding:0.625rem;
  font-family: Serif;
  font-weight: 100;
  text-align: left;
}
.fa-check{
  color: green;
  text-shadow: 3px 3px 3px rgba(47, 43, 43, 0.87);
}
/* Flex conténerek */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.25rem;
}
.flex-container > div {
  margin: 0.625rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flex1{
  background-color: rgba(255,255,255,.5);
  max-width:400px;
  max-height: 800px;
  border: 0.5rem solid rgba(255,255,255,.7); 
  border-image: linear-gradient(#f9f8f55f, #4e9f0cb3) 30;
}
.picture{
  width: 300px;
  height: 300px;
  border-radius: 25% 10%;
  display: block;
  margin-top: 0.3125rem;
  margin-left: auto;
  margin-right: auto;
}
.text {
  font-size: 1.825rem;
  text-align: center;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  color: green;
}
.text2 {
  font-size: 0.9375rem;
  margin-top: 0.625rem;
}
.modern {
  text-align: left;
}
.effect721 {
  font-size: 1rem;
}
.effect722 {
  font-size: 2.5rem;
}
/* legalsó effect */
.effect-2 {
  text-align:center;
  color:#860f4d;
  font-family: 'Bagel Fat One', cursive;
  font-family: 'Raleway', sans-serif;
  font-weight:350;
  font-size: 1.875rem;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}
.modern a {
  color: black;
  text-decoration: none;
}
.modern a:hover {
  color: white;
}
.modern {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  margin-left: 20vw;
}
.modern:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}
.modern:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}
.modern:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}
@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}
@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}



/* Reszponziv max méret 281px*/
@media screen and (max-width: 281px) {
  .about h1 {
    top: 50px;
    position: relative;
  }
  .about p {
    font-size: 1.25rem;
    top: 65px;
    position: relative;
  }
  #job {
    left: 2px;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
  }
  .box a {
    left: -18px;
        position: relative;
    }
  .my-jobs{
      left: 20px;
      position: relative;
    }
  #effect {
    left: 189px;
  }
  .content {
    padding: 35% 10%;
  }
  .wordCarousel {
    font-size: 0.7rem;
  }
  .wordCarousel-2 li {
    font-size: 1rem;
    top: 8px;
    right: -5px;
  }
  .altalanos1{
    text-align: center;
    font-size: 1.4rem;
  }
  .canvas {
    max-height: 660px;
  }
  .text2 {
    text-align: center;
  }
  .picture {
    width: 230px;
  }
  .flex-container > div {
    width: 95vw;
  }
  .effect-2 p{
    margin-bottom: 0;
  }
  .effect-2 a{
    position: relative;
    left: 35px;
  }
}
/* Reszponziv 281px- 395px ig*/
@media screen and (min-width: 281px) and (max-width: 395px) { 
  .about h1 {
    top: 50px;
    position: relative;
  }
  .about p {
    font-size: 1.25rem;
    top: 65px;
    position: relative;
  }
  #job {
    left: 2px;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
  }
  .box a {
    left: -18px;
        position: relative;
    }
  .my-jobs{
      left: 20px;
      position: relative;
    }
  #effect {
    left: 189px;
  }
  .content {
    padding: 35% 10%;
  }
  .wordCarousel {
    font-size: 0.7rem;
  }
  .wordCarousel-2 li {
    font-size: 1rem;
    top: 8px;
    right: -5px;
  }
  .altalanos1{
    text-align: center;
    font-size: 1.4rem;
  }
  .canvas {
    max-height: 660px;
  }
  .text2 {
    text-align: center;
  }
  .picture {
    width: 230px;
  }
  .flex-container > div {
    width: 95vw;
  }
  .effect-2 p{
    margin-bottom: 0;
  }
  .effect-2 a{
    position: relative;
    left: 35px;
  }
}
/* Reszponziv 359px - 394px ig*/
@media screen and (min-width: 359px) and (max-width: 394px) { 
  #job {
    left: 5px;
    position: relative;
  }
  .box a {
    left: -3px;
        position: relative;
    }
  .my-jobs{
      left: 23px;
      position: relative;
    }
  #effect {
    width: 100%;
  }
  .content {
    padding: 34% 10%;
}
  .wordCarousel {
    font-size: 1rem;
  }
  .wordCarousel-2 li {
    font-size: 1.5rem;
    top: 4px;
    right: -2px;
}
  .altalanos1{
    text-align: center;
  }
  .canvas {
    max-height: 600px;
  }
  .text2 {
    text-align: center;
  }
  .effect-2 p{
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .effect-2 a{
    position: relative;
    left: 50px;
    font-size: 1.4rem;
  }
}
/* Reszponziv 395px- 638px ig*/
@media screen and (min-width: 395px) and (max-width: 638px) { 
  #job {
    left: 5px;
    position: relative;
  }
  .box a {
    left: -3px;
        position: relative;
    }
  .my-jobs{
      left: 16px;
      position: relative;
    }
  .content {
    padding: 20% 10%;
  }
  .wordCarousel {
    font-size: 1rem;
  }
  .wordCarousel-2 li {
    font-size: 1.5rem;
    top: 4px;
    right: -2px;
  }
  .altalanos1{
    text-align: center;
  }
  .canvas {
    max-height: 600px;
  }
  .text2 {
    text-align: center;
  }
  .effect-2 p{
    margin-bottom: 0;
    font-size: 1.8rem;
  }
  .effect-2 a{
    position: relative;
    left: 37px;
    font-size: 2rem;
  }
}
/* Reszponziv 411px- 415px ig*/
@media screen and (min-width: 411px) and (max-width: 415px) { 
  #job {
    left: 5px;
    position: relative;
  }
  .box a {
    left: -3px;
        position: relative;
    }
  .my-jobs{
      left: 16px;
      position: relative;
    }
  #effect {
    left: 213px;
  }
  .content {
    padding: 20% 10%;
  }
  .wordCarousel {
    font-size: 1rem;
  }
  .wordCarousel-2 li {
    font-size: 1.5rem;
    top: 4px;
    right: -2px;
  }
  .altalanos1{
    text-align: center;
  }
  .canvas {
    max-height: 600px;
  }
  .text2 {
    text-align: center;
  }
  .effect-2 p{
    margin-bottom: 0;
    font-size: 1.8rem;
  }
  .effect-2 a{
    position: relative;
    left: 37px;
    font-size: 2rem;
  }
}
/* Reszponziv méret 360px*/
@media screen and (width: 360px){
#effect {
    left: 192px;
  }
  .canvas {
    max-height: 600px;
  }
  .text2 {
    text-align: center;
  }
  .effect-2 p{
    margin-bottom: 0;
  }
  .effect-2 a{
    position: relative;
    left: 50px;
  }
}
/* Reszponziv 416px- 1279px ig*/
@media screen and (min-width: 416px) and (max-width: 1279px) { 
  .canvas {
    max-height: 600px;
  }
  .text2 {
    text-align: center;
  }
}
/* Reszponziv 416px- 799px ig*/
@media screen and (min-width: 416px) and (max-width: 799px) {
  .effect-2 p{
    margin-bottom: 0;
    font-size: 1.8rem;
  }
  .effect-2 a{
    position: relative;
    left: 42px;
    font-size: 2rem;
  }
}
/* Reszponziv 639px- 1279px ig*/
@media screen and (min-width: 639px) and (max-width: 1279px) { 
  .about h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .wordCarousel {
    font-size: 1.7rem;
  }
  .wordCarousel-2 li {
    font-size: 2rem;
    top: 2px;
    right: -6px;
  }
  .wordCarousel-3 {
    font-size: 1.7rem;
  }
  #smallsquare {
  max-width: 500px;
  }
}
/* Reszponziv 799px- 1279px ig*/
@media screen and (min-width: 799px) and (max-width: 1279px) { 
  .effect-2 p{
    margin-bottom: 0;
    font-size: 3.8rem;
  }
  .effect-2 a{
    position: relative;
    right: 0px;
    font-size: 2.5rem;
  }
}
/* Reszponziv min méret 1280px*/
@media screen and (min-width: 1280px){
  .about h1 {
    font-size: 1.5625rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .profile {
    background-image: url('assets/greenline3.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: right; 
    background-size: 50% 100%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .profile {
    border-top: 1px solid rgb(91, 169, 38);
    border-bottom:1px solid rgb(91, 169, 38);
    border-image: linear-gradient(to left, #000 30%, transparent 40%) 100% 1;
  }
  .canvas {
    max-height: 600px;
  }
  .text2 {
    text-align: center;
    font-size: 1.7rem;
  }
  .wordCarousel {
    font-size: 2.7rem;
  }
  .wordCarousel-2 li {
    font-size: 3rem;
    top: -8px;
    right: -3px;
  }
  .wordCarousel-3 {
    font-size: 2.7rem;
  }
  #smallsquare {
    max-width: 500px;
    }
    .effect-2 p{
      margin-bottom: 0;
      font-size: 3.8rem;
    }
    .effect-2 a{
      position: relative;
      right: -70px;
      font-size: 2.5rem;
    }
    .effect-2 div{
      margin-left: 0;
    }
}