* { 
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-size: 100%;
}
html{
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  background-image: url('assets/greenline.2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Bagel Fat One', cursive;
  font-family: 'Raleway', sans-serif;
}
/* Fenti menük */
#big-box {
  background-image: url('assets/white.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 120px;
  width: 100vw;
  list-style:none;
}
menu {
  list-style:none;
}
#big-box {
  font-weight: 500;  
  border-bottom:1px solid rgb(91, 169, 38);
}
.box {
  height: 100%;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  float: left;
}
#second-box{
  position: relative;
  right:-2px;
}
.box a {
color: rgb(91, 169, 38);
text-shadow: 1px 2px 1px rgb(17, 113, 8);
text-align: center;
line-height: 3;
text-decoration: none;
padding:20px 20px;
margin: 0 auto;
font-size: 20px;
}
#job{
  color: rgb(91, 169, 38);
text-shadow: 1px 2px 1px rgb(17, 113, 8);
text-align: center;
line-height: 3;
text-decoration: none;
padding:0 20px;
margin: 0 auto;
font-size: 20px;
}
#big-box a:hover{
	background:rgba(0,0,0,.5);
}
#job:hover{
  background:rgba(0,0,0,.5);
}
.has-submenu{
	position:relative;
}
.has-submenu>a{
	padding-right: 50px;
}
#job{
  padding-right: 50px;
}
.has-submenu:hover .submenu{
	display:block;
}
.submenu{
	position:absolute;
	width:200px;
	display:none;
	padding-left: 0px;
	padding-right: 74px;
}
.has-submenu::after{
	content:"🢓";
	color:rgb(91, 169, 38);
	position:absolute;
	top:23px;
	right:23px;
}
.submenu a{
	background: #61706955;
	padding:10px;
  line-height: 2.2;
}
.box::after {
  content: "";
  clear: both;
  display: table;
}
/* névjegy */
.profile-image:before {
  content: "";
  position: absolute;
  inset: 0px;
  padding: 10px;
  border-radius: 50%; 
  background: conic-gradient(
        #53ffa0 ,
        #0000 30deg 120deg,
        #53ffa0 120deg,
        #dad8d800 210deg 300deg,
        #4ac225 330deg
    );
  -webkit-mask:
    linear-gradient(#000000fe 0 0) content-box,
    linear-gradient(#000000fe 0 0);
  -webkit-mask-composite: xor;
    mask-composite: intersect
}
.profile-image:after {
  content: "";
  position: absolute;
  background:
    radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
    radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000);
  filter: blur(120px);
  opacity: .5;
}

.profile-image:before,
.profile-image:after {
  transition:.5s, 99999s 99999s transform;
}
.profile-image:hover {
  box-shadow: 0 0 0 1px #666;
}

.profile-image:hover:before,
.profile-image:hover:after {
  transform: rotate(36000deg);
  transition: .5s,600s linear transform;
}
.profile-image:before {
  background-color: #222;
    border: 2px solid #333;
}

.profile-image {
  margin: auto;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
}
.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Bagel Fat One', cursive;
  font-family: 'Raleway', sans-serif;
  border-top: 1px solid rgb(91, 169, 38);
  border-bottom:1px solid rgb(91, 169, 38);
  border-image: linear-gradient(to left, #000 30%, transparent 40%) 100% 1;
}
.head, .links {
  text-align: center;
}
.head, .content {
  width: 90%;
  margin: 0 auto;
}
#profile-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  opacity:0.9;
  position: relative;
}
.profile-image {
  margin-top: -90px;
  width: 200px;
  height: 200px;
  font-size:30px;
  color: #fff;
  background: none;
  border: none;
  border-radius: 50%; 
  position: relative;
  z-index: 0;
  transition: .3s;
  cursor: pointer;
  margin-bottom: 10px;
}
.head, .about {
  margin-bottom: 10%;
}
.about{
  text-align: center;
}
.about p {
  font-size: 20px;
}
.about h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.content {
  padding: 10% 10%;
}
.profile {
  background-image: url('assets/greenline3.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-x: right; 
  background-size: 50% 100%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  margin: 0 auto;
}
#profile-image {
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}
#profile-image:hover {
  transform: scale(1.2);
  filter: grayscale(20%);
}
 /* Effect névjegyhez */
#effect {
  background: #090d00;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}
#effect {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double white;
  position: absolute;
  margin: 0 0 0 -12em;
}
#effect span {
  font: 500 2.5em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* wordCarousel effect */
#wordCarousel{
  max-width: calc(100vw - 10px);
}
.wordCarousel {
  font-size: 35px;
  font-weight: 100;
  color: black;
  position: relative;
  padding-top: 20px;
}
.wordCarousel-2 {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.wordCarousel-2 li {
  font-family: Serif;
  color: green;
  font-weight: 700;
  height: 45px;
  margin-bottom:45px;
  display: block;
  position: relative;
  font-size: 40px;
  padding: 15px 10px 10px 7px;
}
.wordCarousel-3 {
  position: relative;
  font-size: 35px;
  font-weight: 100;
  color: black;
  padding-top: 20px;
}
#wordCarousel {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#wordCarousel {
  font-family: "Roboto Condensed", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wordCarousel::after {
  content: "";
  display: block;
  position: absolute;
}
.flip2 {
  -webkit-animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip3 {
  -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip4 {
  -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip5 {
  -webkit-animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
@-webkit-keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -180px;
  }
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -180px;
  }
}
@-webkit-keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@-webkit-keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -360px;
  }
}
@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -360px;
  }
}
@-webkit-keyframes flip5 {
  0% {
    margin-top: -450px;
  }
  5% {
    margin-top: -360px;
  }
  20% {
    margin-top: -360px;
  }
  25% {
    margin-top: -270px;
  }
  40% {
    margin-top: -270px;
  }
  45% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  65% {
    margin-top: -90px;
  }
  80% {
    margin-top: -90px;
  }
  85% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -450px;
  }
}
@keyframes flip5 {
  0% {
    margin-top: -450px;
  }
  5% {
    margin-top: -360px;
  }
  20% {
    margin-top: -360px;
  }
  25% {
    margin-top: -270px;
  }
  40% {
    margin-top: -270px;
  }
  45% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  65% {
    margin-top: -90px;
  }
  80% {
    margin-top: -90px;
  }
  85% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -450px;
  }
}

/* Pipás felsorolás */
.canvas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: calc(100vw - 10px);
  margin: 0 auto;
  max-height: 360px;
  margin-bottom: 20px;
}
.canvas > div {
  display: block;
}
#smallsquare{
  background-color:rgba(255, 255, 255, 0.47);
  height: 100%;
  max-width: 400px;
  border: 0.5rem solid rgba(255,255,255,.7); 
  border-image: linear-gradient(#4e9f0cb3, #f9f8f55f) 30;
}
.altalanos1 {
  font-size: 40px;
  font-weight: 200;
  color: rgb(12, 91, 6);
  position: relative;
  padding:20px 0 20px 0;
  font-family: Serif;
  font-weight: 100;
  text-align: center;
}
.altalanos2 {
  font-size: 40px;
  font-weight: 200;
  color: black;
  position: relative;
  padding:10px;
  font-family: Serif;
  font-weight: 100;
  text-align: left;
}
.fa-check{
  color: green;
  text-shadow: 3px 3px 3px rgba(47, 43, 43, 0.87);
}
/* Flex conténerek */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: calc(100vw - 10px);
  margin-bottom: 20px;
}
.flex-container > div {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flex1{
  background-color: rgba(255,255,255,.5);
  max-width:400px;
  max-height: 800px;
  border: 0.5rem solid rgba(255,255,255,.7); 
  border-image: linear-gradient(#f9f8f55f, #4e9f0cb3) 30;
}
.picture{
  width: 300px;
  height: 300px;
  border-radius: 25% 10%;
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.text {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: green;
}
.text2 {
  font-size: 15px;
  margin-top: 10px;
}

.modern {
  text-align: left;
}
.effect721 {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .effect721 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .effect721 {
    font-size: 22px;
  }
}

.effect722 {
  font-size: 40px;
}
@media screen and (min-width: 320px) {
  .effect722 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .effect722 {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .modern {
    margin-left: 40vw;
  }
}
/* legalsó effect */
.effect-2 {
  text-align:center;
  color:#860f4d;
  font-family: 'Bagel Fat One', cursive;
  font-family: 'Raleway', sans-serif;
  font-weight:350;
  font-size:30px;
  padding-top:5vh;
  height:15vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}
.modern a {
  color: black;
  text-decoration: none;
}
.modern a:hover {
  color: white;
}
.modern {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  margin-left: 20vw;
}
.modern:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}
.modern:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}
.modern:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}
@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}
@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}